body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    padding: 40px;
}

h1 {
    color: #2c3e50;
}

h2 {
    color: #2980b9;
    margin-top: 30px;
}

p {
    font-size: 16px;
    color: #444444;
}

img {
    display: block;
    margin: 15px 0 30px 0;
    border: 3px solid #cccccc;
    padding: 5px;
    max-width: 100%;
}

ul {
    background-color: #ffffff;
    padding: 15px 25px;
    width: fit-content;
}

code {
    background-color: #eeeeee;
    padding: 2px 6px;
    border-radius: 3px;
}
